body {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    word-wrap: break-word; 
}

#banner {
    display: flex;
    align-items: center; /* vertically center children */
    height: 6vh;
    width: 100%;
    padding-top: 1vh;
    z-index: 100;
    text-align: left;
    border-bottom: 0.07em solid black;
    background-color: white;
    position: fixed; 
    top: 0;
    left: 0; 
}

#home-button {
    margin-left: 1vh; /* adjust left spacing as needed */
}

#home-button img {
    height: 4vh;  /* adjust image height to fit within the banner */
    width: auto;  /* maintain aspect ratio */
}

#searchbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 0.4em;
}

.search-box {
    padding: 1em;
    width: 32.5vh; /* Half of 65vh so combined they match */
    border: 0.1em solid #000000;
    outline: none;
    box-shadow: none;
    font-size: 1em;
}

#search-input-1 {
    border-radius: 12em 0 0 12em; 
    border-right: none;
}

#search-input-1 input {
    padding: 1em;
    border-radius: 12em; 
    width: 65vh;
    border: 0.1em solid #000000;
    outline: none; 
    box-shadow: none;
}

#search-input-2 {
    border-radius: 0 12em 12em 0;
    border-left: 0.1em solid #000000; 
}

#search-input-2 input {
    padding: 1em;
    border-radius: 12em; 
    width: 65vh;
    border: 0.1em solid #000000;
    outline: none; 
    box-shadow: none;
}

#plot{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 20%;
}